/*AUTHOR : @ASH_A9236///////////////////////////////////////////////////////////////////////////*/

/*LIGHT THEME///////////////////////////////////////////////////////////////////////////////////*/
html[data-theme = "light"] {
    --H-background-colour : rgb(255, 252, 245);
    --H-font-colour : rgb(55, 67, 117);

    background-color: var(--H-background-colour);
    color: var(--H-font-colour);
}
/*DARK THEME///////////////////////////////////////////////////////////////////////////////////*/
html[data-theme = "dark"] {
    --H-background-colour : rgb(55, 67, 117);
    --H-font-colour : rgb(255, 252, 245);

    background-color: var(--H-background-colour);
    color: var(--H-font-colour);
}

/*BODY////////////////////////////////////////////////////////////////////////////////////////*/
body { 
    /*set the default to 0 everywhere*/
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    /*set the font to Comfortaa everywhere*/
    font-family: "Comfortaa", serif;
}

/*BUTTONS/////////////////////////////////////////////////////////////////////////////////////*/



