/*
1. BODY
2. HEADINGS
3. PARAGRAPHS
4. NAVIGATION BAR
5. ARTICLE ID = THEarticle
6. IMAGE
7. BUTTONS
*/

/*BODY & CO//////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    font-family: "Comfortaa", serif;
}
h2 {
    text-align: center;
}
p {
    
    padding: 15px 20px;
}

/*NAV BAR////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
    display: flex;
    background-color: rgb(55, 67, 117);
    
    border-radius: 30px;
    padding: 15px 20px;
    margin: 0 auto;
    width: 75%;

    justify-content: space-around;
    align-items: space-between;
    
    position: fixed;
    top: 15;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: "Comfortaa", serif;

}
.menu {
    display: flex;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}    
.item {
    margin: 0 15px;
}
.item a {
    text-decoration: none;
    color: rgb(255, 252, 245);
    font-weight: bold;
}

/*HERO & CO//////////////////////////////////////////////////////////////////////////////////////////////////*/
/* The hero image */
.hero-image {
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} 
/*ARTICLES///////////////////////////////////////////////////////////////////////////////////////////////////*/
#THEarticle {
    border-radius: 30px;
    padding: 15px 20px;
    
    margin: 100px auto;
    width: 85%;
    
    background-color: rgb(255, 252, 245);

    font-family: "Comfortaa", serif;
    color:rgb(55, 67, 117);
    text-align: justify;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/*BUTTONS////////////////////////////////////////////////////////////////////////////////////////////////////*/
button {
    /* display: inline-block; */
    padding: 10px 15px;
    text-align: center;
    /* text-decoration: none; */
    color: rgb(55, 67, 117);
    background-color: rgb(255, 252, 245);
    border-radius: 20px;
    /* outline: none; */
    transition: 0.3s;
}
button:hover {
    background-color: rgb(44, 55, 99);
}

.center {
    display: block;
    width: 100%;

    margin-left: 0 auto;
    margin-right: 0 auto;

    border-radius: 30px;
    padding: 15px 20px;    
}

/*IMAGES/////////////////////////////////////////////////////////////////////////////////////////////////////*/

